@import url(/css/fonts.css);
@import url(/css/slick.css);

:root{
	--acent-1: #00868A;
	--acent-2: #4FBFA5;
	--white: #fff;
	--black: #000;
	--color-logo: #333;
}

body{
	font-family: 'Gilroy';
	font-weight: 500;
	color: var(--black);
	background-color: #fff;
}

.container{
	width: 1295px;
	margin: 0 auto;
}

.btn-big{
	display: block;
	padding: 15px 25px;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--acent-1);
}

.header-top .container{
	display: flex;
	flex-wrap: nowrap;
	padding: 15px 0;
}

.header-top .container div{
	display: flex;
	align-items: center;
	position: relative;
}

.header-top .container div::before{
	content: "";
	width: 1px;
	height: 90px;
	background-color: #C4C4C4;
	position: absolute;
	top: -19px;
	right: 0;
}

.header-top .container div:first-child::after{
	content: "";
	width: 1px;
	height: 90px;
	background-color: #C4C4C4;
	position: absolute;
	top: -19px;
	left: 0;
}

.header-top .logo{
	padding: 0px 35px;
}

.header-top .number-link{
	color: var(--black);
	padding: 0px 27px;
}

.header-top .salon{
	display: flex;
	padding: 0px 30px;
}

.header-top .salon span{
	margin-right: 15px;
}

.header-top .btn-big{
	margin: 0px 29px;
	padding-left: 51px;
	font-size: 14px;
}

.header-top .icon-eye{
	position: absolute;
	top: 50%;
	left: 45px;
	transform: translateY(-50%);
}

.header-top .icon{
	padding: 0px 28px;
}

.header-midle{
	background-color: var(--acent-2);
}

.header-midle .container{
	padding: 30px 0px 0px 0px;
}

.header-menu{
	margin-left: 60px;
	margin-bottom: 23px;
}

.menu-item{
	font-size: 18px;
	color: var(--white);
	margin: 0px 32.5px;
	transition: color .3s ease;
	position: relative;
}

.menu-item::after{
	content: '';
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: var(--black);
	position: absolute;
	bottom: -5px;
	left: -1000000px;
}

.menu-item:hover::after{
	left: 0px;
}

.menu-item:hover{
	color: var(--black);
}

.menu-item:first-child{
	margin-left: 0px;
}

.menu-btn{
	display: inline-block;
	margin-left: 62.5px;
	padding: 10px 15px;
	background-color: var(--white);
	color: var(--black);
	transition: color .3s ease, background-color .3s ease;
}

.menu-btn:hover{
	color: var(--white);
	background-color: var(--acent-1);
}

.slide-item-left{
	max-width: 550px;
	width: 100%;
	padding-top: 133px;
}

.slider-flex{
	display: flex;
}

.slide-tittle{
	margin-bottom: 45px;
	font-size: 48px;
	color: var(--white);
	font-weight: bold;
}

.slide-text{
	color: var(--white);
	line-height: 21px;
	padding-right: 134px;
	margin-bottom: 40px;
}

.btn{
	padding: 15px 25px;
	background-color: var(--acent-1);
	text-transform: uppercase;
	color: var(--white);
	letter-spacing: 1px;
}

.header-bottom-menu{
	min-height: 80px;
	height: 80px;
	display: flex;
	align-items: center;
}

.header-bottom-menu-link{
	color: var(--white);
	font-size: 21px;
	padding: 27.5px 0;
	text-align: center;
}

.header-bottom-menu-link:first-child{
	flex-grow: 2;
}

.header-bottom-menu-link:nth-child(n+2){
	flex-grow: 1;
}

.header-bottom-menu-link:nth-child(odd){
	background-color: var(--acent-1);
}

.news-block .container{
	display: flex;
	margin-top: 80px;
}

.inovation{
	width: 40.61%;
	margin-right: 67px;
	background-color: var(--acent-1);
	color: var(--white);
}

.tittle-baner{
	display: inline-block;
	padding: 10px 15px;
	margin: 35px 0 30px 40px;
	color: inherit;
	font-size: 18px;
	background-color: var(--acent-2);
}

.inovation-tittle{
	font-size: 30px;
	color: inherit;
	margin: 0px 0px 25px 40px;
	line-height: 45px;
}

.beautiful{
	width: 49.11%;
	margin-left: 67px;
}