@import url(/css/fonts.css);

:root{
	--acent-1: #00868A;
	--acent-2: #4FBFA5;
	--white: #fff;
	--black: #000;
	--color-logo: #333;
}

body{
	font-family: 'Gilroy';
	font-weight: 500;
	color: var(--black);
	background-color: #fff;
}

.container{
	width: 1295px;
	margin: 0 auto;
	padding: 15px 0;
}

.btn-big{
	display: block;
	padding: 15px 25px;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--acent-1);
}

.header-top .container{
	display: flex;
	flex-wrap: nowrap;
}

.header-top .container div{
	display: flex;
	align-items: center;
	position: relative;
}

.header-top .container div::before{
	content: "";
	width: 1px;
	height: 90px;
	background-color: #C4C4C4;
	position: absolute;
	top: -15px;
	right: 0;
}

.header-top .container div:first-child::after{
	content: "";
	width: 1px;
	height: 90px;
	background-color: #C4C4C4;
	position: absolute;
	top: -15px;
	left: 0;
}

.header-top .logo{
	padding: 0px 35px;
}

.header-top .number-link{
	color: var(--black);
	padding: 0px 30px;
}

.header-top .salon{
	display: flex;
	padding: 0px 30px;
}

.header-top .salon span{
	margin-right: 15px;
}

.header-top .btn-big{
	margin: 0px 29px;
	padding-left: 51px;
	font-size: 14px;
}

.header-top .icon-eye{
	position: absolute;
	top: 50%;
	left: 45px;
	transform: translateY(-50%);
}

.header-top .icon{
	padding: 0px 28px;
}